.text_gradient {
  background: linear-gradient(to right, #2891f8, #9273ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bold;
  font-size: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 640px) {
  .text_gradient {
    font-size: 14px;
  }
}

@media (min-width: 641px) and (max-width: 1279px) {
  .text_gradient {
    font-size: 20px;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .text_gradient {
    font-size: 40px;
  }
}

@media (min-width: 1536px) {
  .text_gradient {
    font-size: 50px;
  }
}
